\ResumePdfToJsonOrCsv\json\output
\ResumePdfToJsonOrCsv\pdfs\classResumes

\llm-resume\node_modules

\llm-resume\.next

\llm-resume\template\node_modules


\template\node_modules

\pdf-summarizer\nextjs\node_modules

\pdf-summarizer\nodejs\node_modules

\pdf-summarizer\template\node_modules


\resume-summarizer\node_modules

\testing\file-upload\node_modules

\unisys